{% extends 'base.html' %}
{% load static %}
{% block title %}{{post.title}}{% endblock title %}
{% block style_block %}
<link rel="stylesheet" href="{% static "blog/post-detail.css" %}">
{% endblock style_block %}
{% block content %}
{% if comment_form.errors %}

<div id="alert">
    <h2>Something Went Wrong</h2>
    <p>Please Check the Form</p>
    <a href="#comment-form">Fix Here!</a>
</div>
{% endif %}
<section id="summary">
    <h2>
        {{post.title}}
    </h2>
      <div>
        {% for tag in tags %}
        <span class="tag">
            {{ tag.captions}}
        </span>
     
        {% endfor %}
      </div>
      <div id="read-later">
          <form action="{% url "read-later" %}" method="POST">
              {% csrf_token %}
            <input type="hidden" name="post_name" value="{{post.id}}">
            <button>

                {% if saved_for_later %}
                
                Delete from Saved Posts
                {% else %}
                Read Later
                
                {% endif %}

            </button>
          </form>
          
      </div>
       
   
    <article>
        <img src={{post.image_name.url}} alt={{post.title}}>
        <address><a href="mailto:{{post.author.email}}">{{post.author}}</a></address>
        <div>
            Last Updated on <time>{{post.date_d | date:"Y M d" }}</time>
        </div>
    </article>

   
</section>
<main>
    {{post.content|linebreaks}}
    
</main>

<section id="comments">
<ul>
    {% for cmt in comments %}
    <li>
        <h2>{{cmt.user_name}}</h2>
        <p>{{cmt.comment|linebreaks}}</p>
        
    </li>
   
    
    {% endfor %}
</ul>

</section>
  
    <section id="comment-form">
        <h2>Your Comment</h2>
        <form action="{% url "post-detail-page" post.slug %}" method="POST">
            {% csrf_token %}
           {% for form_field in comment_form %}
           <div class="form-control  {% if form_field.errors %} invalid {% endif %}">
            {{form_field.label_tag}}
            {{form_field}}
            {{form_field.errors}}
           </div>
         
           {% endfor %}

           <button>Save Comment</button>
        </form>

    </section>
    
    

      
        {% endblock content %}