* {
  margin-top: 0;
}
ul {
  list-style: none;
  list-style-type: none;
  float: right;
}
li {
  display: inline-block;
  font-size: 1rem;
 color: white;
 font-weight: bold;
  padding: 0.3rem 2rem;
  margin: 0rem 2rem;
}
#logo{
    font-size: 3rem;
    margin-right: 75rem;
}