<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% comment %} <title>Home</title> {% endcomment %}
       <title> {% block title %}Home{% endblock title %} </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
        {% block style_block %}{% endblock style_block %}
        <link rel="stylesheet" href="{% static  "base.css" %}">
        <link rel="stylesheet" href="{% static "blog/index.css"%}">
    </head>

    <body>
       
        <header id="main-navigation">
            <h1><a href="{% url "starting-page" %}">PP's Blog</a></h1>
            <nav>
              <a href="{% url "posts-page" %}">All Posts</a>
            </nav>
          </header>
        {% block content %}
        {% endblock content %}
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>
    </body>
</html>